/****************************************************************************          网站整体风格定义 */
BODY {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	/* ==========    默认页面文字大小    =============== */
	SCROLLBAR-FACE-COLOR: #01809A;
	SCROLLBAR-HIGHLIGHT-COLOR: #01809A;
	SCROLLBAR-SHADOW-COLOR: #01809A;
	SCROLLBAR-3DLIGHT-COLOR: #01809A;
	SCROLLBAR-ARROW-COLOR: #fFFFFF;
	SCROLLBAR-TRACK-COLOR: #ffffff;
	SCROLLBAR-BASE-COLOR: #ffffff;
	/* ==========    默认页面文字、大小、行距、颜色   =============== */
	font-family:"宋体";
	font-size: 12px;
	color: #333;
	text-decoration: none;
	background-image: url(../img/bj.jpg);
	background-repeat: repeat;
	background-position: center top;    /* ==========    filter虑镜，上下渐变定义    =============== 
	filter:alpha(style=1,startY=0,finishY=100,startX=100,finishX=100);
	*/
	line-height: 24px;
	scrollbar-face-color:#C0C0C0;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#C0C0C0;
	scrollbar-darkshadow-color:#000000;
	scrollbar-shadow-color:#808080;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#E0E0E0;

}
/****************************************************************************       网站默认连接定义 */
	/* ==========    带链接状态    =============== */
A:link {
	TEXT-DECORATION: none;
	color: #333;
	}
	/* ==========    鼠标点击后，链接状态    =============== */
A:visited {
	TEXT-DECORATION: none;
	color: #333;
	}
    /* ==========    鼠标经过，链接状态色    =============== */
A:hover {
	TEXT-DECORATION: underline;
	color: #0060AE;
	}
	/* ==========    鼠标无点击过，链接状态    =============== */
A:active {
	TEXT-DECORATION: none;
	color: #333;
}



	/* ==========    带链接状态    =============== */
A.a666:link {
	TEXT-DECORATION: none;
	color: #666;
	}
	/* ==========    鼠标点击后，链接状态    =============== */
A.a666:visited {
	TEXT-DECORATION: none;
	color: #666;
	}
    /* ==========    鼠标经过，链接状态色    =============== */
A.a666:hover {
	TEXT-DECORATION: underline;
	color: #333;
	}
	/* ==========    鼠标无点击过，链接状态    =============== */
A.a666:active {
	TEXT-DECORATION: none;
	color: #666;
}


/****************************************************************************          背景定义  */

.xuxian{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
}

/****************************************************************************          文字描边定义  */

.font_wr{ font-family:"微软雅黑";}

.font_999{ color:#999999;}

.font_15{ font-size:15px;}

.font_14{ font-size:14px;}

.hg_25{ line-height:25px; font-size: x-small;}

#full-screen-slider { width:100%; height:500px; position:relative;}
#slides { display:block; width:100%; height:500px; list-style:none; padding:0; margin:0; position:relative}
#slides li { display:block; width:100%; height:100%; list-style:none; padding:0; margin:0; position:absolute}
#slides li a { display:block; width:100%; height:100%; text-indent:-9999px}
#pagination { display:block; list-style:none; position:absolute; left:50%; top:460px; z-index:9900;  padding:5px 15px 5px 0; margin:0}
#pagination li { display:block; list-style:none; width:10px; height:10px; float:left; margin-left:15px; border-radius:5px; background:#FFF }
#pagination li a { display:block; width:100%; height:100%; padding:0; margin:0;  text-indent:-9999px;}
#pagination li.current { background:#0092CE}

#loginusername, #loginuser, #unlogin {
    display:inline;
    font-size: small;
}
